* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }
.container { width: 100%; display: flex; justify-content: center; }
.container > #content { background-color: #f0f0f0; border-radius: 20px; width: 500px; }
